﻿@model eCommerce.Models.Genre
@using System.Globalization;

@{
    ViewData["Title"] = "Details";
}

<h1 style="font-family: DifiqueMenre; color: #008fc6;">@Html.DisplayFor(genre => genre.Name)</h1>


@{
    foreach (var article in Model.Articles)
    {
        <div class="article-details-box row align-items-center my-4">
            <div>
                @if (article.ImageId != null)
                {
                    <img width="70" class="article-image img-thumbnail" src="data:image/png;base64, @Convert.ToBase64String(article.Image.ImageData, Base64FormattingOptions.InsertLineBreaks)" />
                }
                else
                {
                    <img width="70" class="article-image img-thumbnail" alt="@article.Genre.Name image" src="~/images/genres/@(article.Genre.Name + ".png")" />
                }
            </div>
            <div class="article-details col">
                <a asp-controller="Articles" asp-action="Details" asp-route-id="@article.Id" style="text-decoration: none;"><h3>@article.Title</h3></a>
                <div class="article-small-details row mx-auto">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                    <div class="mx-2">@article.Author.FirstName @article.Author.LastName</div>
                    <div class="mx-2">@article.Genre.Name</div>
                    <div class="mx-2">@article.CreationDate.ToString("m", CultureInfo.CreateSpecificCulture("en-US"))</div>
                </div>
            </div>

        </div>
    }
}

<!-- Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteArticleLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteArticleLabel">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete <span id="deletedArticleTitle"></span>?
            </div>
            <div class="modal-footer">
                <button id="btnCancelDelete" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button id="btnConfirmDelete" type="button" class="btn btn-danger">Delete</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        let selectedArticleId = null;

        // --- Functions ---
        const getMyUsername = () => "@Context.User.Claims.FirstOrDefault(c => c.Type == "Username")?.Value";

        const handleDeleteOnClick = () => {
            $(document).on("click", "#delete-link", () => {
                const article = $("#delete-link").data("article");
                selectedArticleId = article.id;
                $("#deletedArticleTitle").text(article.title);
            });
        };

        const handleDeleteModalCancel = () => {
            $("#btnCancelDelete").click(() => {
                selectedArticleId = null;
            });
        };

        const deleteArticle = (articleId) => {
            const article = {
                id: articleId
            }

            $.ajax({
                url: "/Articles/Delete",
                type: "post",
                dataType: "json",
                contentType: "application/json",
                success: () => {
                    $('#deleteModal').modal('hide');
                    location.reload(true);
                },
                data: JSON.stringify(article)
            });
        };

        const setOnConfirmDelete = () => {
            $("#btnConfirmDelete").click(() => {
                deleteArticle(selectedArticleId);
            });
        };

        const setUpdateVisibility = () => {
            const myUsername = getMyUsername();
            const isAdmin = @Context.User.IsInRole("Admin").ToString().ToLower();
            const editSections = $(".editSection");
            $.each(editSections, (index, section) => {
                const authorUsername = section.getAttribute("data-authorUsername");
                if (!isAdmin && authorUsername != myUsername) {
                    section.setAttribute("hidden", "true")
                }
            });
        }

        // --- END Functions ---

        handleDeleteOnClick();
        handleDeleteModalCancel();
        setOnConfirmDelete();
        setUpdateVisibility();

    </script>
}