﻿@model IEnumerable<eCommerce.Models.City>
@using System.Globalization;


@{
    ViewData["Title"] = "Index";
}

<div class="container">

    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <form>
                        <div class="form-group row">
                            <label for="" class="col-sm-2 form-control-label">Weather in...</label>
                            <div class="col-sm-10">
                                <select onchange="getWeatherDetails(this.value, this.options[this.selectedIndex].text)" class="form-control selectpicker" id="select-country" data-live-search="true">
                                    @foreach (var city in Model)
                                    {
                                        <option data-tokens=@city.RealCity value=@city.RealCity>@city.SmurfsCity</option>
                                    }
                                </select>

                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box-body -->
            </div>
            <!-- /.box -->
        </div>
        <!-- /.col -->
    </div>
    <!-- /.row -->
</div>

<div class="page-content page-container" id="page-content">
    <div class="padding">
        <div class="row container d-flex justify-content-center">
            <div class="col-lg-8 grid-margin stretch-card">
                <!--weather card-->
                <div class="card card-weather">
                    <div class="card-body">
                        <div class="weather-date-location">
                            <h3>@DateTime.Today.DayOfWeek.ToString()</h3>
                            <p class="text-gray">
                                <span class="weather-date">@DateTime.Today.ToString("m", CultureInfo.CreateSpecificCulture("en-US"))</span>
                                ,<span class="weather-location" id="current-location"></span>
                            </p>
                        </div>
                        <div class="weather-data d-flex">
                            <div class="mr-auto">
                                <h4 class="display-3" id="todays-weather"><span class="symbol">°</span>C</h4>
                                <p id="todays-weather-description"></p>

                            </div>
                        </div>
                    </div>
                    <div class="card-body p-0">
                        <div class="d-flex weakly-weather">
                            @for (int i = 1; i < 7; i++)
                            {
                               DateTime currDay = DateTime.Today.AddDays(i);
                                <div class="weakly-weather-item">
                                    <p class="mb-0"> @currDay.DayOfWeek.ToString() </p>
                                    <p class="mb-0" id="daily-weather-@i"></p>
                                </div>
                            }

                        
                        </div>
                    </div>
                </div>
                <!--weather card ends-->
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        // --- Functions ---
        const getWeatherDetails = async (realCity, smurfsCity) => {
            $("#current-location").html(smurfsCity);

            // Get lat & lon for location - then get forcasts
            const { lat, lon } = (await $.get("https://nominatim.openstreetmap.org/search?q=" + realCity + "&format=json"))[0]
            const dayForcasts = (await $.get("https://api.openweathermap.org/data/2.5/onecall?lat="+lat+"&lon="+lon+"&exclude=current,hourly,minutely,alerts&units=metric&appid=b067b19b9407f031ee99deb34d27e70d")).daily

            // Insert data to html
            $("#todays-weather").html("<span>" + Math.floor(dayForcasts[0].temp.day) + "<span class='symbol'>°</span>C</span>");
            $("#todays-weather-description").html(dayForcasts[0].weather[0].main)
            for (var i = 0; i < dayForcasts.length; i++) {
                $("#daily-weather-" + i).html("<span>"+Math.floor(dayForcasts[i].temp.day)+"<span class='symbol'>°</span>C</span>");
            }
        }

        $(document).ready(() => {
            getWeatherDetails($("#select-country").val(), $("#select-country option:selected").text())
        })

    </script>
}

